# ==============================================================================
# .env.example
# Example environment variables file.
# Copy this to '.env' and modify as needed. Docker can load this file 
# using the '--env-file' flag during 'docker run'.
# ==============================================================================

APP_NAME=Python Flask Docker App
FLASK_PORT=5000
